// Colors
    // Background colors
        // Side panel background colors
        $side-panel-bg: rgba(#272527, 0.7);
        $button-bg: #343434;
        $side-panel-scroll-line: #FFFFFF;
        $folded-chapter-hover-bg: #313131;

        // Top right menu background colors
        $search-panel-bg: rgba(#676767, 0.45);
        $burger-menu-hover-bg: rgba(#fff, 0.3);

        // Outline colors
        $folded-chapter-outline: #ABABAB;

        // Objects list panel background colors
        $objects-list-panel-bg: #1f1f1f;
        $objects-list-element-border-color: rgba(#dbdbdb, 0.3);
        $objects-list-element-hover-bg: #242424;
        $objects-list-subitems-border-color: rgba(#dbdbdb, 0.2);
        $objects-list-close-icon-color: rgba(#FFFFFF, 0.7);



    //Text colors
        // Side panel text colors
        $object-header: #FFFFFF;
        $chapter-header: #FFFFFF;
        $button-text-icon: #ABABAB;
        $features-list-visual-highlight: #8ea3d8;
        $plain-text: #FFFFFF;
        $group-header: #BBBABA;

        // Top right menu text colors
        $search-panel-placeholder: #6C6C6C;

        // Objects list panel text colors
        $object-name: #FFFFFF;
        
        // Global
        $accent: #F09E22;

